{% load url from future %}
{% load i18n fb_tags %}

<div class="breadcrumbs">
    {% if not query.pop %}
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
    {% endif %}
    {% if breadcrumbs or breadcrumbs_title %}
        <a href="{% url 'fb_browse' %}{% query_string "" "dir,filename,p" %}">{% trans 'FileBrowser' %}</a> &rsaquo;
    {% else %}
        {% trans 'FileBrowser' %}
    {% endif %}
    {% for item in breadcrumbs %}
        {% if not forloop.last %}
            <a href="{% url 'fb_browse' %}{% query_string "" "dir,filename,p" %}&amp;dir={{ item.1 }}">{{ item.0 }}</a> &rsaquo;
        {% else %}
            {% if breadcrumbs_title %}
                <a href="{% url 'fb_browse' %}{% query_string "" "dir,filename,p" %}&amp;dir={{ item.1 }}">{{ item.0 }}</a> &rsaquo;
            {% else %}
                {{ item.0 }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if breadcrumbs_title %}{{ breadcrumbs_title }}{% endif %}
</div>
